MONGODB_URI=mongodb+srv://prestamos_user:xQwxXyWOvYhQCg1u@cluster0.hqop1.mongodb.net/prestamos?retryWrites=true&w=majority
JWT_SECRET=tu_secreto_super_seguro_aqui_cambiar
PORT=5000
NODE_ENV=production